body {
    margin: auto 0;
    font-family: "Pacifico", Arial;
    color:  #2D2D30;
}

.zone {
    cursor:pointer;
    /* display:inline-block; */
    text-align: center;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    color:  #2D2D30;
}

.zone:hover {
    -webkit-box-shadow:rgba(248, 215, 58, 0.8) 0px 5px 15px, inset rgba(248, 215, 58, 0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(248, 215, 58, 0.8) 0px 5px 15px, inset rgba(248, 215, 58, 0.15) 0px -10px 20px;
    -o-box-shadow:rgba(248, 215, 58, 0.8) 0px 5px 15px, inset rgba(248, 215, 58, 0.15) 0px -10px 20px;
    box-shadow:rgba(248, 215, 58, 0.8) 0px 5px 15px, inset rgba(248, 215, 58, 0.15) 0px -10px 20px;
}

/* nav */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

.logo{
    width: 10%;
    padding: 0;
}

.push-right {
    margin-right: auto;
}

li {
    padding: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

.background {
    background: -webkit-linear-gradient(110deg, rgba(45, 45, 48, 0.5) 60%, rgba(248, 215, 58, 0.5)  60%);
    background: linear-gradient(110deg, rgba(45, 45, 48, 0.5) 60%, rgba(248, 215, 58, 0.5)  60%);
}

.banner-image {
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

/* COVER STYLE */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.home-container {
    height: 100vh;
    z-index: 9;
}

.cover {
    width: 15rem;
}

/* PROJECT GRID */
.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-wrapper-sub {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.box > img {
    margin-top: 20px;
    width: 50%;    
}

.box {
    padding: 60px 40px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}

#landing-page-left {
    margin-left: auto;
    padding-right: 120px;
    z-index: 9;
}

.banner-text {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.banner-desc {
    font-size: 1em;
    margin: 0;
}

.header-text {
    font-size: 2em;
    padding: 0;
}

.features {
    font-size: 40%;
    font-weight: bold;
}

.feature-desc{
    font-size: 20%;
}

.btn {
    background-color:#2D2D30;
    color:#FFFFFF;
    border-radius: 8px;
    font-size: 1rem;
    padding: 20px;
    border-width: 0px;
    margin: 10px;
    width:12em;
}

.btn:hover {
    cursor: pointer;
    background-color:#F8D73A;
    color:  #2D2D30;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

@media only screen and (max-width: 600px){
    .btn {
        background-color: #F8D73A;
        color:#000000;
        border-radius: 8px;
        font-size: 1rem;
        padding: 20px;
        border-width: 0px;
        margin: 10px;
        width:12em;
    }

    .btn:hover {
        cursor: pointer;
        background-color:#2D2D30;
        color: #FFFFFF;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}


.left{
    margin-left: auto;
}

.right {
    margin-right: auto;
}

.screenshot > img {
    margin-top: 20px;
    width: 40%;    
}

.contents {
    font-size: 1em;
    text-align: left;
}

footer {
    text-align: center;
}

.main-color{
    background: #2D2D30;
}

.secondary-color {
    background: #F8D73A;
}

.white {
    background:  #ffffff;
}